.parent-container{
    font-size: 36px;
    text-align: center;
    
    border: 10px solid red;
    padding: 50px;
}

a {
    text-decoration: none;
    color: inherit;
}

img{
    height: auto;
    width: 500px;
    display: block;
    margin: auto;
    outline: 1px solid red;
}



h1 {
    background-color: rgb(78, 178, 236);
    color: white;
    padding: 25px;
    margin: 0px;
    font-size: 48px;
    text-align: center;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 20px;
}

p {
    outline: 1px solid red;
}

.parent-container div {
    outline: 1px solid red;
    margin: 6px;
    padding: 10px;
}